{% block blog_list_posts %}
    {% for child in collection %}
        {% set blog = page %}
        {% set truncate = true %}
        {% set page = child %}
        <div class="mdlite-blog-list-item mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col {{ page.slug|e('html_attr') }}">
            {{ block('post_header_image') }}
            <div class="mdl-card__title">
                {{ block('post_header_title') }}
            </div>
            <div class="mdl-card__supporting-text no-padding-top no-padding-bottom">
                {{ block('post_header_nicetime') }}
            </div>
            <div class="mdlite-post-content mdl-card__supporting-text">
                {{ block('post_content') }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {{ block('post_readmore') }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block blog_single_post %}
    {% set blog = page.parent %}
    {% set truncate = false %}
    <div class="mdlite-blog-item mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col {{ page.slug|e('html_attr') }}">
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-card__title">
                {{ block('post_header_title') }}
            </div>
            {{ block('post_header_image') }}
            <div class="mdlite-post-content mdl-card__supporting-text">
                {{ block('post_content') }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {{ block('post_navigation') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block blog_post_layout %}
    {% set header_image = page.header.header_image | defined(true) %}
    {% set header_image_width = page.header.header_image_width | defined(968) %}
    {% set header_image_height = page.header.header_image_height | defined(300) %}
    {% set header_image_file = page.header.header_image_file %}
    {% if header_image %}
        {% if header_image_file %}
            {% set header_image_media = page.media.images[header_image_file] %}
        {% else %}
            {% set header_image_media = page.media.images | first %}
        {% endif %}
    {% endif %}
    {% if header_image_media %}
        <div class="mdl-card__media mdl-color--grey-50">
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        </div>
    {% endif %}
    <div class="mdlite-post-title mdl-card__title">
        {{ block('post_header_title') }}
    </div>
    <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
        {{ block('post_content') }}
    </div>
{% endblock %}

{% block post_content %}
    {% if truncate and page.header.summary.enabled %}
        {% if page.summary != page.content %}
            {{ page.summary }}
        {% else %}
            {{ page.content|truncate(500) }}
        {% endif %}
    {% else %}
        {{ page.content }}
    {% endif %}
{% endblock %}

{% block post_navigation %}
    <div class="prev-next row">
        {% if not page.isFirst %}
            <div class="col s6 left-align">
                <a class="waves-effect btn-flat" href="{{ page.nextSibling.url }}">
                    <i class="material-icons left">chevron_left</i>
                    Next Post</a>
            </div>
        {% endif %}
        {% if not page.isLast %}
            <div class="col s6 right-align">
                <a class="waves-effect btn-flat" href="{{ page.prevSibling.url }}">Previous Post
                    <i class="material-icons right">chevron_right</i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block post_readmore %}
    {% if page.summary != page.content %}
        <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="{{ page.url }}">Read more</a>
    {% endif %}
{% endblock %}

{% block post_header_title %}
    {% if page.header.link %}
        {% if page.header.continue_link is not sameas(false) %}
            <h2 class="mdl-card__title-text">
                <a href="{{ page.url }}">
                    <i class="material-icons">link</i>
                </a>
            </h2>
        {% endif %}
        <h2 class="mdl-card__title-text">
            <a href="{{ page.header.link }}">{{ page.title }}</a>
        </h2>
    {% else %}
        <h2 class="mdl-card__title-text">
            <a href="{{ page.url }}">{{ page.title }}</a>
        </h2>
    {% endif %}
{% endblock %}

{% block post_header_date %}
    <span class="mdlite-list-blog-date">
        <span>{{ page.date|date("d") }}</span>
        <em>{{ page.date|date("M") }}</em>
    </span>
{% endblock %}

{% block post_header_nicetime %}
    <div class="mdlite-list-blog-date">
        <span>{{ page.date|nicetime(false) }}</span>
    </div>
{% endblock %}

{% block post_taxonomy %}
    {% if page.taxonomy.tag %}
        <span class="mdlite-taxonomy-tags section">
            {% for tag in page.taxonomy.tag %}
                <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">
                    <span class="chip">{{ tag }}</span>
                </a>
            {% endfor %}
        </span>
    {% endif %}
{% endblock %}

{% block post_header_image %}
    {% set header_image = page.header.header_image | defined(true) %}
    {% set header_image_width = page.header.header_image_width | defined(968) %}
    {% set header_image_height = page.header.header_image_height | defined(300) %}
    {% set header_image_file = page.header.header_image_file %}
    {% if header_image %}
        {% if header_image_file %}
            {% set header_image_media = page.media.images[header_image_file] %}
        {% else %}
            {% set header_image_media = page.media.images | first %}
        {% endif %}
    {% endif %}
    {% if header_image_media %}
        <div class="mdl-card__media mdl-color--grey-50">
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        </div>
    {% endif %}
{% endblock %}
